In [1]:
import pandas as pd
import numpy as np

In [19]:
def get_db_url(db_name):
   from env import user, host, password
   return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
sql1 = """ SELECT * from orders"""
url1 = get_db_url("chipotle")

chipotle = pd.read_sql(sql1, url1)
chipotle

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
# 2

In [20]:
chipotle['price']=df1.item_price.str.replace('$','').astype(float)
df1.head()

<ipython-input-20-153909440cd2>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  chipotle['price']=df1.item_price.str.replace('$','').astype(float)

,id,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39
1,2,1,1,Izze,[Clementine],$3.39,3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [21]:
order_total = chipotle.groupby(by='order_id')['price'].sum()
order_total.head()

order_id
1    11.56
2    16.98
3    12.67
4    21.00
5    13.70
Name: price, dtype: float64

In [22]:
# 3
chipotle.groupby('item_name').count().sort_values('quantity', ascending=False).head(3)

,id,order_id,quantity,choice_description,item_price,price
item_name,,,,,,
Chicken Bowl,726,726,726,726,726,726
Chicken Burrito,553,553,553,553,553,553
Chips and Guacamole,479,479,479,479,479,479

In [16]:
#4

In [24]:
chipotle.groupby('item_name').item_price.sum().nlargest(1, keep='all')

TypeError: Cannot use method 'nlargest' with dtype object

In [27]:
# 5
url = get_db_url("employees")

employees = pd.read_sql(employees_sql, url)
employees.head()

NameError: name 'employees_sql' is not defined

In [26]:
emp_title = employees.merge(titles, left_on='emp_no', right_on='emp_no', how='inner')

emp_title

NameError: name 'employees' is not defined

In [28]:
emp_title.groupby(by=['title'])['hire_date'].max()

NameError: name 'emp_title' is not defined

In [29]:
# 6

In [30]:
join_emp.groupby('title').hire_date.max()

NameError: name 'join_emp' is not defined