In [3]:
from pydataset import data
df = data("mpg")
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [4]:
len (df.manufacturer.unique())

15

In [5]:
# Sample Question - How many different manufacturers are there?
# Write a function called exercise1 that takes in a dataframe and returns the answer.


def exercise1(df):
    return len(df.manufacturer.unique())

assert exercise1(df) == 15
print("Exercise 1 is correct")

Exercise 1 is correct